body{
    background-color: red;
}


.main{
    display: flex;
    justify-content: space-around;
    background-color: yellow;
    align-items: center;
    padding-top: 40px;
}

.preview{
    width: 30%;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
